<div class="blog-wrapper">
  <div class="blog-sidebar">
    <div class="blog-links" *ngFor="let post of posts">
      <h3>{{post.title}}</h3>
    </div>
  </div>
  <div class="blog-main">
    <div class="blog-list" *ngFor="let post of posts">
    
        <!-- <a class="button" (click)='toggleEdit()'>{{isEditing ? 'Cancel' : 'Edit'}}</a> -->
        <blog-post [post]="post"></blog-post>
        <!-- <div class="blog-post-wrapper">
          <post-viewer *ngIf="!isEditing" [post]="post"></post-viewer>
          <post-editor *ngIf="isEditing" [post]="post"></post-editor>
        </div> -->

    </div>
  </div>
</div>