.resume-wrapper
    display: flex
    flex-direction: row
    justify-content: space-between
    padding: 50px 10%

    .resume-info
        display: flex
        flex-direction: column
        align-items: center
        min-width: 300px

        .photo
            height: 250px
            width: 250px
            border-radius: 2px 
            box-shadow: 5px 5px 7px 5px #242D49

        .info-text 
            display: flex
            align-items: center
            p
                color: white
                font-size: 12px
                padding: 10px 50px

        .info-details
            width: 300px
            padding: 5px 25px
            .education-header
                text-align: center
                color: white
                margin-bottom: 5px
                border-bottom: 1px solid #6EB7E5
            .education
                display: flex
                flex-direction: column
                .school
                    display: flex
                    flex-direction: column
                    color: white
                    p span 
                        margin-left: 15px
                .degree
                    font-size: 10px
    .resume-main
            display: flex
            flex-direction: column
            align-items: center
            width: 100%
            .resume-toggle
                span
                    color: white
                    margin: 0 10px
                    border-bottom: 1px solid #6EB7E5 
            .toggle-wrapper
                    width: 100%
                    .resume-jobs
                        width: 100%
                        .resume-skill-images
                            display: flex
                            justify-content: space-between
                            flex-wrap: wrap
                            align-items: center
                            width: 100%
                            margin: 40px 0
                            img 
                                height: 80px
                                margin: 0 10px
                    .job
                        margin-bottom: 20px
                        .job-header
                                display: flex
                                justify-content: space-between
                                color: white
                                border-bottom: 1px solid #6EB7E5
                        .job-body
                                p
                                    color: white
                                    font-size: 12px
                                    margin-top: 5px
