<div class="blog-post-image">
  <img [src]="temp_image" />
  <div class="post-title-wrapper">
    <input class="post-title" type="text" placeholder="Title" value="{{post.title}}">
  </div>
</div>

<div class="blog-post-content">
  <div class="control">
    <textarea class="textarea" type="text" placeholder="Description" value="{{post.description}}"></textarea>
  </div>
  <div class="btn-wrapper">
    <button class="btn-save"(click)='onToggle()'>Save Changes</button>
    <button class="btn-cancel">Cancel</button>
  </div>
</div>